.first {
    background-image: url('/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .inner {
        max-width: 667px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & h1 {
            font-family: Playfair Display;
            font-weight: 400;
            font-size: 100px;
            line-height: 96px;
            letter-spacing: 0px;
            text-align: center;
            color: #2C2F24;
        }

        & p {
            font-family: DM Sans;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: center;
            color: #2C2F24;
        }

        & .buttons {
            display: flex;
            gap: 20px;

            & button {
                font-family: DM Sans;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: center;
                color: #2C2F24;
                width: 170px;
                height: 64px;
                gap: 10px;
                border-radius: 118px;
                border-width: 1.5px;
                border: 1.5px solid #2C2F24;

                &:hover {
                    background: #AD343E;
                    color: #F9F9F7;
                }
            }
        }

    }
}

.menusection {
    background: #FFFFFF;

    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .inner {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 65px;

        & h1 {
            font-family: Playfair Display;
            font-weight: 500;
            font-size: 55px;
            line-height: 60.5px;
            letter-spacing: 0px;
            text-align: center;
            color: #2C2F24;
        }

        & .menuitems {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            & .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                border: 1.5px solid #DBDFD0;
                width: 306px;
                height: 375px;
                border-radius: 12px;
                border-width: 1.5px;
                text-align: center;

                & .image {
                    width: 100px;
                    height: 100px;
                    background: #c2c2ca;

                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & h2 {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: -3%;
                    text-align: center;
                    color: #2C2F24;
                }

                & p {
                    font-family: DM Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #414536;
                }

                & a {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: center;
                    vertical-align: middle;
                    color: #AD343E;
                    text-decoration: none;

                    &:hover {
                        color: #2C2F24;
                    }
                }
            }
        }
    }
}

.aboutsection {
    background: #F9F9F7;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .inner {
        max-width: 1300px;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 65px;

        & h1 {
            font-family: Playfair Display;
            font-weight: 500;
            font-size: 55px;
            line-height: 60.5px;
            letter-spacing: 0px;
            text-align: center;
            color: #2C2F24;
        }

        & .aboutitems {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            & .item {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 20px;

                & h3 {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: -3%;
                    text-align: center;
                    color: #2C2F24;
                }

                & p {
                    font-family: DM Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    color: #414536;
                }
            }
        }
    }
}